* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.imagen_logo {
  height: auto;
  width: 200px;
}
.carritoContenedor {
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 10px 22px;
}
.carritoContenedor_icono {
  font-size: 23px;
  color: white;
  text-decoration: none;
}

.cotenedor__categorias {
  display: flex;
  justify-content: center;
}
.cotenedor__categorias button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: white;
}

.cotenedor__categorias button:hover {
  background: #e7e7e7;
}

/* ------------ carousel ---------- */

.carousel-itemButton {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  width: 200px;
  height: 50px;

  border-radius: 20px;
  background: white;
  font-weight: bold;
  border: solid black 2px;
}
.carousel-itemButton:hover {
  background: rgb(207, 207, 207);
}

.contenedor__informacion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 90px 20px 90px;
  margin-top: 30px;
  color: white;
}

.contenedor__informacionDiv {
  text-align: center;
  font-size: 46px;
}

.contenedor__informacionTit {
  font-weight: bold;
  font-size: large;
  letter-spacing: 1.2px;
}

.contenedor__informacionSubTit {
  font-size: small;
  letter-spacing: 1.2px;
}
