* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.imagen_logo {
  height: auto;
  width: 200px;
}
.carritoContenedor {
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 10px 22px;
}
.carritoContenedor_icono {
  font-size: 23px;
  color: white;
  text-decoration: none;
}
